<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opendatakit.services">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:installLocation="auto"
        android:theme="@style/Opendatakit" >
        <service android:name="org.opendatakit.services.webkitservice.service.OdkWebkitServerService"
            android:exported="false"
            android:process=":webkitservice">
        </service>
        <service android:name="org.opendatakit.services.database.service.OdkDatabaseService"
            android:exported="false"
            android:process=":databaseservice">
        </service>
        <service android:name="org.opendatakit.services.sync.service.OdkSyncService"
             android:exported="false"
             android:process=":sync">
        </service>
        <service android:name="org.opendatakit.services.sync.service.ClearSuccessfulSyncService"
                 android:exported="false">
        </service>
        <provider
            android:exported="false"
	        android:syncable="false"
	        android:initOrder="1"
            android:authorities="org.opendatakit.provider.tables"
            android:name="org.opendatakit.services.tables.provider.TablesProvider" />
        <provider
            android:exported="false"
	        android:syncable="false"
	        android:initOrder="2"
            android:authorities="org.opendatakit.provider.forms"
            android:name="org.opendatakit.services.forms.provider.FormsProvider" />
        <provider
            android:exported="false"
	        android:syncable="false"
	        android:initOrder="3"
            android:authorities="org.opendatakit.provider.instances"
            android:name="org.opendatakit.services.instance.provider.InstanceProvider" />
        <provider
            android:exported="false"
	        android:syncable="false"
	        android:initOrder="4"
            android:authorities="org.opendatakit.provider.submission.xml;org.opendatakit.provider.submission.json"
            android:name="org.opendatakit.services.submissions.provider.SubmissionProvider"
            />
        <activity
            android:name="org.opendatakit.services.MainActivityServices"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.opendatakit.services.resolve.checkpoint.CheckpointResolutionActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.opendatakit.services.resolve.conflict.ConflictResolutionActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.opendatakit.services.resolve.conflict.AllConflictsResolutionActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.opendatakit.services.sync.actions.activities.SyncActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.opendatakit.services.sync.actions.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.opendatakit.services.sync.actions.activities.VerifyServerSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.opendatakit.services.preferences.activities.AppPropertiesActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="org.opendatakit.services.preferences.activities.ClearAppPropertiesActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.opendatakit.services.preferences.activities.DocumentationWebViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
